DeskBooker.Core.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DeskBooker.Core.Tests/obj/Debug/netcoreapp3.1/DeskBooker.Core.Tests.AssemblyInfo.cs
DeskBooker.Core.Tests/obj/Debug/netcoreapp3.1/DeskBooker.Core.Tests.AssemblyInfoInputs.cache
DeskBooker.Core/bin/Debug/netcoreapp3.1/DeskBooker.Core.deps.json
DeskBooker.Core/bin/Debug/netcoreapp3.1/DeskBooker.Core.dll
DeskBooker.Core/bin/Debug/netcoreapp3.1/DeskBooker.Core.pdb
DeskBooker.Core/obj/DeskBooker.Core.csproj.nuget.cache
DeskBooker.Core/obj/DeskBooker.Core.csproj.nuget.dgspec.json
DeskBooker.Core/obj/DeskBooker.Core.csproj.nuget.g.props
DeskBooker.Core/obj/DeskBooker.Core.csproj.nuget.g.targets
DeskBooker.Core/obj/project.assets.json
DeskBooker.Core/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DeskBooker.Core/obj/Debug/netcoreapp3.1/DeskBooker.Core.AssemblyInfo.cs
DeskBooker.Core/obj/Debug/netcoreapp3.1/DeskBooker.Core.AssemblyInfoInputs.cache
DeskBooker.Core/obj/Debug/netcoreapp3.1/DeskBooker.Core.assets.cache
DeskBooker.Core/obj/Debug/netcoreapp3.1/DeskBooker.Core.csproj.FileListAbsolute.txt
DeskBooker.Core/obj/Debug/netcoreapp3.1/DeskBooker.Core.csprojAssemblyReference.cache
DeskBooker.Core/obj/Debug/netcoreapp3.1/DeskBooker.Core.dll
DeskBooker.Core/obj/Debug/netcoreapp3.1/DeskBooker.Core.pdb
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/DeskBooker.Core.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/DeskBooker.Core.pdb
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/DeskBooker.Core.Tests.deps.json
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/DeskBooker.Core.Tests.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/DeskBooker.Core.Tests.pdb
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/DeskBooker.Core.Tests.runtimeconfig.dev.json
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/DeskBooker.Core.Tests.runtimeconfig.json
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/testhost.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/xunit.assert.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/xunit.core.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
DeskBooker.Core.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DeskBooker.Core.Tests/obj/DeskBooker.Core.Tests.csproj.nuget.cache
DeskBooker.Core.Tests/obj/DeskBooker.Core.Tests.csproj.nuget.dgspec.json
DeskBooker.Core.Tests/obj/DeskBooker.Core.Tests.csproj.nuget.g.props
DeskBooker.Core.Tests/obj/DeskBooker.Core.Tests.csproj.nuget.g.targets
DeskBooker.Core.Tests/obj/project.assets.json
DeskBooker.Core.Tests/obj/Debug/netcoreapp3.1/DeskBooker.Core.Tests.assets.cache
DeskBooker.Core.Tests/obj/Debug/netcoreapp3.1/DeskBooker.Core.Tests.csproj.CopyComplete
DeskBooker.Core.Tests/obj/Debug/netcoreapp3.1/DeskBooker.Core.Tests.csproj.FileListAbsolute.txt
DeskBooker.Core.Tests/obj/Debug/netcoreapp3.1/DeskBooker.Core.Tests.csprojAssemblyReference.cache
DeskBooker.Core.Tests/obj/Debug/netcoreapp3.1/DeskBooker.Core.Tests.dll
DeskBooker.Core.Tests/obj/Debug/netcoreapp3.1/DeskBooker.Core.Tests.pdb
